<header>
  <div class="logo-banner">
    <a href="/" title="Major League Hacking" target="_parent"><img src="/images/logos/mlh-small-text.png"  alt="Major League Hacking" role="logo" /></a>
  </div>
    <ul class="powered-by">
      <li class="">Powered By</li>
      <li class="icon"><a href="http://www.dell.com/"><img alt="Dell logo" src="/images/logos/dell-logo.png" /></a></li>
      <li class="icon"><a href="http://www.intel.com/"><img alt="Intel logo" src="/images/logos/intel-logo.png" /></a></li>
    </ul>
    <h1 class="title"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
</header>