@font-face {
    font-family: "MLH Outage";
    src: url("/assets/fonts/outage.ttf");
}

/* Summary */

.book .book-summary ul.summary > li:first-child {
  display: none;
}

.book .book-summary ul.summary:before {
  background: url("/assets/images/miscellaneous/logos/organizer-guide.svg") center center no-repeat;
  background-size: 85% auto;
  width: 100%;
  height: 80px;
  display: block;
  content: "";
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
}

.book .book-summary ul.summary {
  background: #353535;
}

.book .book-summary ul.summary li span {
  color: #E73152;
  opacity: 1;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  color: #9C9C9C;
}

.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active > a {
  color: #fff;
}

/* Search */

.book > .book-summary > #book-search-input {
  margin-bottom: 0;
}

.book > .book-summary > #book-search-input > input,
.book > .book-summary > #book-search-input > input:focus,
.book > .book-summary > #book-search-input > input:hover {
  color: #353535;
  text-align: center;
}

/* Header */

.btn.pull-right,
.dropdown.pull-right {
  display: none !important;
}

.dropdown-menu .buttons:nth-child(1) .button,
.dropdown-menu .buttons:last-child .button {
  display: none;
}

/* Content */

.book .book-body .page-wrapper .page-inner h1 {
  font-family: "MLH Outage", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #318CE7;
}

.book .book-body .page-wrapper .page-inner section.normal a:focus,
.book .book-body .page-wrapper .page-inner section.normal a:hover {
  color: #0047AB;
}

/* Table */

tbody {
  border: 2px solid black;
}

thead {
  border: 2px solid black;
}
